@import "./normalize.css";

html {
  font-size: 100px;
}

:root {
  --color-text: #666;
  --color-height-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 0.14rem;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑";
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* 去除图片底部3px间隙的问题 */
img {
  vertical-align: middle;
}

/* 去除button、文本框，点击样式，以及边框 */
button,
[type="text"] {
  outline: none;
  border: none;
}

/* 去除li标签的小圆点 */
li {
  list-style: none;
}

/* 防止拖拽文本域 */
textarea {
  resize: none;
  outline: none;
}
